Data/Raw/Cardiogram-CAD/CARDIoGRAM_GWAS_RESULTS.txt
Data/Processed/CKD-eGFRcrea.Kottgen.Nat.Genet.2010.mat
Data/Processed/Cardiogram-CAD.Nat.Genet.2011.mat
Data/Processed/Lipids-TG-ONE.Teslovich.Nature.2010.mat
Data/Processed/PGC-SCZ-2012.Nat.Genet.2012.mat
Data/Raw/C4D-CAD/C4D.ng.782-S1.pdf
Data/Raw/C4D-CAD/C4D.ng.782.pdf
Data/Raw/CKD-eGFRcrea/CKDGen-eGFRcrea_meta_post.csv
Data/Raw/CKD-eGFRcrea/ng.568-S1.pdf
Data/Raw/CKD-eGFRcrea/ng.568.pdf
Data/Raw/Cardiogram-CAD/ng.784.pdf
Data/Raw/Lipids-TG-ONE/TG_ONE_Eur.tbl.sorted.txt
Data/Raw/Lipids-TG-ONE/nature09270-s1.pdf
Data/Raw/Lipids-TG-ONE/nature09270.pdf
Data/Processed/C4D-CAD.C4D.Consortium.Nat.Genet.2011.mat
Data/Raw/Cardiogram-CAD/ng.784-S1.pdf
Data/Raw/PGC-SCZ-2012/ng.940-S1.pdf
Data/Raw/PGC-SCZ-2012/ng.940-S2.xls
Data/Raw/PGC-SCZ-2012/ng.940.pdf
Data/Raw/PGC-SCZ-2012/pgc.scz.clump.2012-04.txt
Data/Raw/PGC-SCZ-2012/pgc.scz.full.2012-04.txt
Data/Raw/PGC-SCZ-2012/readme.pdf
Data/Raw/SNP Info/snp141Common.txt
Data/Processed/snp141Common.mat
Data/Processed/DistiLD.lds.mat


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# morewrites
*.mw

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
